body{
    color: #757575;
    background-color: #fafafa;
    margin-top: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-y: scroll;
}

.panel-loading{
    color: black;
    margin-top: 30px;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.credits{
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 1px;
}

.credits ul li{
    padding-bottom: 10px;
}

.credits h3{
    color: rgba(0, 0, 0, .87);
    font-weight: bold;
}

.header{
    margin-top: 0px;
}

.header, .chart{
    margin-bottom: 30px;
}

.chart{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 2px;
}

.chart-title{
    color: #333333;
    font-size: 18px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 8px;
}

.header .col-md-2{
    margin-right: 0px;
}

.header .col-md-10{
    margin-left: -50px;
}

#title-1{
    padding-top: 10px;
    color: rgba(0, 0, 0, .54);
}

#title-2{
    margin-top: 0px;
    color: rgba(0, 0, 0, .87);
    font-weight: bold;
}

#logo{
    width: 105px;
    margin-top: 20px;
}

@media (max-width: 992px) {
    .header .col-md-10{
        margin-left: 0px;
    }
}

#chart-collaborative{
    height: 510px;
}

node {
  font: 300 9px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
}

.node:hover {
  fill: #000;
}

.link {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: #2ca02c;
}

.node--target {
  fill: #d62728;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--source {
  /*stroke: #d62728;*/
  stroke: #2ca02c
}

.link--target {
  stroke: #2ca02c;
}
